* {
  box-sizing: border-box;
}

html,
body {
  background: white;
  margin: 0px;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 660px) {
  header {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.menuButton {
  cursor: pointer;
}

.menuHide {
  display: none;
}

.addButton {
  cursor: pointer;
}

.menuContainer {
  background-color: #ececec;
  height: calc(100vh - 45px);
  padding: 40px;
}

.menuHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.projectTitle {
  cursor: pointer;
}

.addProjectButton {
  border: 2px solid red;
  border-radius: 10px;
  height: 33.5px;
  width: 33.5px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  margin-left: 5px;
}

.newProjectContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lavender;
}

.formContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lavender;
}

.formContainerEdit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lavender;
}

.formHide {
  display: none;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.projectContainer {
  display: flex;
  flex-direction: column;
}

.mainTitle {
  padding-left: 10%;
  width: 70vw;
}

.taskContainer {
  display: flex;
  flex-direction: column;
}

.task {
  cursor: pointer;
  width: 70vw;
  position: relative;
  padding-left: 15%;
}

.taskDate {
  position: absolute;
  right: 0px;
  top: -16px;
}

.completeMarker {
  position: absolute;
  left: calc(15% - 20px);
  top: -16px;
  z-index: 5;
}

.taskDescription {
}

.descriptionHide {
  display: none;
}
